<h1 class="welcome">Saludos desde Home</h1>


<div class="cardcontainer">
    {{#each products}}
    <li class="card">
        <div>
            <img class="cardimg" src="{{this.thumbnail}}" alt="">
        </div>
        <h2>{{this.title}}</h2>
        <h2>descripcion: {{this.description}}</h2>
        <h3>Precio: {{this.price}}</h3>
        <button><a href="http://localhost:8080/products/{{this._id}}?limit=8&page=1">Mas detalles</a> </button>
        <button id="delete">Eliminar</button>
    </li>


    {{/each}}
</div>

<div id="productCard">

</div>

<div>
    <form action="http://localhost:8080/api/products" id="formCreateProduct" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="nombre del producto">
        <input type="number" name="price" placeholder="precio del producto">
        <input type="text" name="category" placeholder="categoria del producto">
        <input type="text" name="description" placeholder="descripcion del producto">
        <input type="number" name="stock" placeholder="stock del producto">
        <input type="text" name="code" placeholder="codigo del producto">
        <input type="text" name="status" placeholder="status del producto">
        <input type="file" name="file">

        <button type="submit"> Agregar Producto </button>

    </form>
</div>


</div>
